<h1>This IS THE SIGNUP PAGE</h1>

<div id="signup">

		<form method="Post" action="/signup">
			<input type="name" placeholder="Name" name="user[name]">
			</br>
			</br>
			<input type="email" placeholder="Email" name="user[email]">
				</br>
				</br>
			<input type="password" placeholder="Password" name="user[password]">
				</br>
				</br>
			<input type="submit" value="Sign Up">
		</form> 
		
</div>