<h1>CREATE A PROPERTY!</h1>

<form method="Post" action="/properties">


	<label>Description: </label>
	<br>
	<textarea name="property[description]" row="30" cols="30"></textarea>
	<br>
	<br>
	<br>
	<label>Price: </label>
	<br>
	<input type="number" name="property[price]" placeholder="Price in RM">
	<br>
	<br>
	<input id = "submitbutton" type="submit" value="Add Property">
	</form>
	<br>
	<br>
	<br>
	